/* Base Settings */
html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}
/* End Base Settings */


/* Styles */
:root{
  --accent-green: #4CAF4F;
}
body{
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  background-color: #F5F7FA;
}
.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Navigation */
.nav .container{
  max-width: 1215px;
}
.nav__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav__list{
  display: flex;
  gap: 50px;
  color: #18191F;
  font-weight: 500;
  line-height: 24px;
}
.nav__auth{
  display: flex;
  gap: 14px;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.nav-auth__login{
  padding: 10px 20px;
  border-radius: 6px;
  color: #4CAF4F;
}
.nav-auth__reg{
  border-radius: 6px;
  background: var(--accent-green);
  padding: 10px 20px;
  color: #fff;
}

/* Hero */
.hero__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
}
.hero__info{
  margin-top: 160px;
}
.hero__title{
  color: #4D4D4D;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  max-width: 670px;
}
.hero__title span{
  color: var(--accent-green);
}
.hero__text{
  color: #717171;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 670px;
  margin-top: 16px;
}
.hero__link{
  display: inline-block;
  color: #FFFFFF;
  margin-top: 32px;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: var(--accent-green);
}
.hero__img{
  margin-top: 96px;
}

/* Our clients */
.our-clients{
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.our-clients__title{
  color: #4D4D4D;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 8px;
}
.our-clients__text{
  margin-bottom: 16px;
  line-height: 24px;
}
.our-clients__list{
  display: flex;
  gap: 136px;
}

/* Community */
.community{
  background-color: #FFF;
}
.community__inner{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}
.community__title{
  max-width: 542px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
  margin: 0 auto 8px;
}
.community__text{
  color: #717171;
  line-height: 24px;
  margin-bottom: 40px;
}
.community__future{
  display: flex;
  justify-content: space-around;
}
.community__list{
  display: flex;
  justify-content: space-around;
  gap: 127px;
}
.community__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
  padding: 24px 32px;
}

.community-item__img-bg{
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background-color: #E8F5E9;
  margin-bottom: 16px;
  position: relative;
}
.community-item__img{
  position: absolute;
  bottom: 7px;
  right: 15px;
}
.community-item__title{
  color: #4D4D4D;
  font-size: 28px;
  max-width: 267px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}
.community-item__title--spec{
  max-width: 231px;
}
.community-item__text{
  max-width: 250px;
  line-height: 20px;
}


/* Company experience */
.experience{
  background-color: #FFF;
}
.experience__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0;
}
.experience__title{
  color: #4D4D4D;
  max-width: 592px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 16px;
}
.experience__text{
  max-width: 592px;
  line-height: 20px;
  margin-bottom: 41px;
}
.experience__learn-more{
  padding: 14px 32px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: var(--accent-green);
}

/* achievenents */
.achievenents__inner{
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}
.achievenents__title{
  color: #4D4D4D;
  max-width: 408px;
  font-weight: 600;
  line-height: 44px;
  font-size: 36px;
  margin-bottom: 8px;
}
.achievenents__title span{
  color: var(--accent-green);
}
.achievenents__text{
  color: #18191F;
  max-width: 540px;
  line-height: 24px;
}
.achievenents__list{
  display: grid;
  grid-template-columns: repeat(2, 255px);
  gap: 40px 30px;
}
.achievenents__item{
  display: grid;
  grid-template-columns: 48px 191px;
  grid-template-rows: repeat(2, 1fr);
  color: #4D4D4D;
  gap: 0 16px;
}
.achievenents-item__img{
  grid-row-start: span 2;
  padding-top: 6px;
}
.achievenents-item__count{
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.achievenents-item__desc{
  color: #717171;
  line-height: 24px;
}